<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUUApiEndpoint</key>
	<string>INSERT API ENDPOINT HERE</string>
	<key>CUUTrackingToken</key>
	<string>INSERT TRACKING TOKEN HERE</string>
	<key>CUUCommitHash</key>
	<string>INSERT COMMIT HASH OF CHANGESET HERE</string>
	<key>CUUProjectID</key>
	<string>INSERT CUU PROJECT ID HERE</string>
</dict>
</plist>
